<div>

  <h2>hello-goodbye-angular</h2>

  <p>
    Input:<br />
    <input type="text" [(ngModel)]="inputText" />
  </p>

  <p>
    <button (click)="handleHello()">Hello</button>
  </p>

  <p>
    <button (click)="handleGoodbye()">Goodbye</button>
  </p>

  <p>
    <button [disabled]=(!inputText) (click)="handleUpperCase()">Upper Case</button>
  </p>

  <p>
    <button [disabled]=(!inputText) (click)="handleLowerCase()">Lower Case</button>
  </p>

  <p>
    <button [disabled]=(!inputText) (click)="handleMessage()">Show Input Message</button>
  </p>

</div>

